/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// $primary: #f7cb15;
// $secondary: #4cb5ae;
// $dark: #12131d;
// $light: $gray-200;
// $info: #177e89;

// $body-bg: $dark;
// $body-color: $light;
